/Einsteiger Bewahrer.csv
/Einsteiger Genießer.csv
/Etablierte Bewahrer.csv
/GPUConda Test.ipynb
/Temperaturdaten_WT_19.csv
/energiedaten3.csv
/patch_mixer.py
C:/Users/Tobi/Desktop/Uni/Bachaelorarbeit/Projekte/Tensorflow 2.0/Model CP/model_gen_lstm_checkpoint.h5
C:/Users/Tobi/Desktop/Uni/Bachaelorarbeit/Projekte/Tensorflow 2.0/Model CP/my_model_gen_lstm.h5
C:/Users/Tobi/Desktop/Uni/Bachaelorarbeit/Projekte/Tensorflow 2.0/Model CP/model_gen_lstm_checkpoint.h5
C:/Users/Tobi/Desktop/Uni/Bachaelorarbeit/Projekte/Tensorflow 2.0/Model CP/my_model_gen_lstm.h5
2023_01.csv
C:/Users/Tobi/Desktop/Uni/Bachaelorarbeit/Projekte/Tensorflow 2.0/Model CP/my_model_gen_lstm.h5
C:/Users/Tobi/Desktop/Uni/Bachaelorarbeit/Projekte/Tensorflow 2.0/Model CP/model_gen_lstm_checkpoint.h5
C:\Users\Tobi\Desktop\Uni\Bachaelorarbeit\Projekte\Tensorflow 2.0/energiedaten3.csv
C:/Users/Tobi/Desktop/Uni/Bachaelorarbeit/Projekte/Tensorflow 2.0/energiedaten3.csv
